{{- define "jsType" -}}

{{- /* Used to validate types on server. */ -}}
{{- $type := .Type -}}
{{- $typeMap := .TypeMap -}}

{{- if isMapType $type -}}

    object

{{- else if isListType $type -}}

    {{template "type" dict "Type" (listElemType $type) "TypeMap" $typeMap}}[]

{{- else if isStructType $type -}}

    {{$type}}

{{- else if isCoreType $type -}}

    {{ get $typeMap $type }}

{{- end -}}
{{- end -}}