{{- define "methodInputs" -}}

{{- $method := .Method -}}
{{- $typeMap := .TypeMap -}}
{{- $opts := .Opts -}}

{{if $opts.compat }}
{{if gt (len $method.Inputs) 0}}args: {{$method.Name}}Args, {{end}}
{{- if $method.StreamOutput -}}
    options: WebrpcStreamOptions<{{$method.Name}}Return>
{{- else -}}
    headers?: object, signal?: AbortSignal
{{- end -}}
{{- else -}}
{{if gt (len $method.Inputs) 0}}req: {{$method.Name}}Request, {{end}}
{{- if $method.StreamOutput -}}
    options: WebrpcStreamOptions<{{$method.Name}}Response>
{{- else -}}
    headers?: object, signal?: AbortSignal
{{- end -}}
{{- end -}}
{{- end -}}
