{{- define "methodInputs" -}}

{{- $method := .Method -}}
{{- $typeMap := .TypeMap -}}

{{if gt (len $method.Inputs) 0}}args: {{$method.Name}}Args, {{end}}options?:
{{- if $method.StreamOutput -}}
    WebrpcStreamOptions<{{$method.Name}}Return>
{{- else -}}
    WebrpcOptions
{{- end -}}
{{- end -}}