{{- define "type" -}}

{{- $type := .Type -}}
{{- $typeMap := .TypeMap -}}

{{- if isMapType .Type -}}

    {[key: {{template "type" dict "Type" (mapKeyType $type) "TypeMap" $typeMap}}]: {{template "type" dict "Type" (mapValueType $type) "TypeMap" $typeMap}}}

{{- else if isListType .Type -}}

    Array<{{template "type" dict "Type" (listElemType .Type) "TypeMap" $typeMap}}>

{{- else if isStructType .Type -}}

    {{.Type}}

{{- else -}}

    {{ get $typeMap .Type }}

{{- end -}}
{{- end -}}